@import url("./navigation.scss");
@import url("./delete.scss");
@import url("./add.scss");

/* Variables for colors and other settings */
$border-color: #ccc;
$gap-size: 10px;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;

  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid $border-color;
    width: 100%;
  .title {
    font-size: 1.5rem;
  }

  .buttons {
    display: flex;
    gap: 10px;

    button,
    a {
      padding: 5px 10px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.display {
  flex: 1;
  display: grid;
  gap: $gap-size;
  padding: $gap-size;

  .product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid $border-color;

    .checkbox {
      align-self: flex-start;
      margin-bottom: $gap-size;
    }

    .details {
      text-align: center;

      p {
        margin: $gap-size 0;
      }
    }
  }
}

.footer {
  padding: 6px;
  border-top: 1px solid $border-color;
  text-align: center;
}

/* Responsive styles */
@media (min-width: 576px) {
  .display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .display {
    grid-template-columns: repeat(4, 1fr);
  }
}
